<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q2</key>
	<dict>
		<key>&quot;Kindred&quot;</key>
		<string></string>
		<key>&quot;Octavia Butler&quot;</key>
		<string></string>
		<key>1979</key>
		<integer>0</integer>
	</dict>
	<key>Q1</key>
	<dict>
		<key>&quot;A Wrinkle in Time&quot;</key>
		<string></string>
		<key>&quot;Madeleine L&apos;Engle&quot;</key>
		<string></string>
		<key>1962</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
